@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Merriweather+Sans:wght@400;700;800&display=swap");
:root {
  --main-color: #78e5e1;
  --second-color: #ccc3c3;
  --parrafo-color: #777373;
  --main-font: "Asap", sans-serif;
}

/**ESTILOS GLOBALES**/
.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.subtitulo {
  font-family: var(--main-font);
  font-weight: 700;
  padding: 2rem;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
.left {
  text-align: left !important;
  padding: 2rem 0 !important;
}

/**ESTILOS DEL HEADER**/
header {
  border-bottom: 3.6px solid #f7f7f7;
  font-family: var(--main-font);
  font-weight: 700;
}
.header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 680px) {
  .header {
    display: block;
    text-align: center;
  }
}
.header__logo {
  margin: auto 0;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--main-color);
}
.header__list {
  display: inherit;
  list-style: none;
}
@media (max-width: 680px) {
  .header__list {
    display: flex;
  }
}
.header__list--item {
  margin-left: 10px;
}
.header__list--item a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.header__list--item a:hover {
  color: var(--main-color);
}

.header__darkMode {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
}

/**ARTICULO ESTILOS**/
.articulo {
  margin-top: 5%;
  text-align: center;
}
.articulo__img {
  width: 100%;
}

.articulo__titulo {
  font-family: var(--main-font);
}

.articulo__content {
  font-family: var(--main-font);
  text-align: left;
  line-height: 1.6rem;
}
