@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Merriweather+Sans:wght@400;700;800&display=swap");
:root {
  --main-color: #78e5e1;
  --second-color: #ccc3c3;
  --parrafo-color: #777373;
  --main-font: "Asap", sans-serif;
}
/**ESTILOS GLOBALES**/
.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.subtitulo {
  font-family: var(--main-font);
  font-weight: 700;
  padding: 2rem;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
.left {
  text-align: left !important;
  padding: 2rem 0 !important;
}
/**ESTILOS GLOBALES**/

/**ESTILOS DEL HEADER**/
header {
  border-bottom: 3.6px solid #f7f7f7;
  font-family: var(--main-font);
  font-weight: 700;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin: auto 0;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--main-color);
}
.header__list {
  display: inherit;
  list-style: none;
}
.header__list--item {
  margin-left: 10px;
}
.header__list--item a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.header__list--item a:hover {
  color: var(--main-color);
}

.header__darkMode {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
}

/**ESTILOS DEL HERO**/

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
}

.hero__info {
  align-self: center;
}
.hero__info--titulo {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 3.5rem;
}
.hero__info--parrafo {
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--second-color);
  width: 85%;
  font-size: 1.2rem;
  display: inline-block;
  margin: 0;
}
.hero__img img {
  width: 85%;
}

/** estilos proyectos **/

.proyectos__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3%;
}
.proyecto__item {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.proyecto__item--img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.proyecto__item--body--nombre,
.proyecto__item--body--descripcion {
  font-family: var(--main-font);
  margin: 0;
  padding: 8px 0;
}

.proyecto__item--body--descripcion {
  color: var(--parrafo-color);
  line-height: 22px;
}

/**ESTILOS POSTS**/
.posts {
  margin-top: 8%;
}
.posts__contenedor {
  display: grid;
  grid-template-columns: 60% 35%;
  column-gap: 5%;
}

.post__item {
  display: grid;
  grid-template-columns: 30% 65%;
  column-gap: 5%;
  margin-bottom: 10px;
}
.post__item--img img {
  width: 100%;
}

.post__item--body--titulo,
.post__item--body--descripcion {
  font-family: var(--main-font);
  margin: 0;
}
.post__item--body--descripcion {
  margin: 1rem 0;
}
.post__imageness {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
.post__imagenes--imagen img {
  width: 100%;
  border-radius: 10px;
}
