@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Merriweather+Sans:wght@400;700;800&display=swap");
.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

/**ESTILOS DEL HEADER**/
header {
  border-bottom: 3.6px solid #f7f7f7;
  font-family: "Asap", sans-serif;
  font-weight: 700;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin: auto 0;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}
.header__list {
  display: inherit;
  list-style: none;
}
.header__list--item {
  margin-left: 10px;
}
.header__list--item a {
  text-decoration: none;
  color: black;
}

.header__darkMode {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
}

/**ESTILOS DEL HERO**/

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
}

.hero__info {
  align-self: center;
}
.hero__info--titulo {
  font-family: "Asap", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
}
.hero__info--parrafo {
  font-family: "Asap", sans-serif;
  font-weight: 600;
  color: #ccc3c3;
  width: 85%;
  font-size: 1.2rem;
  display: inline-block;
  margin: 0;
}
.hero__img img {
  width: 85%;
}
